################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MOD_Api/.vs/MOD Solution/v16/Server/sqlite3
